<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khazar Travel</title>
    <link rel="stylesheet" href="~/TravelFront/vendorss/css/slick.css">
    <link rel="stylesheet" href="~/TravelFront/vendorss/css/bootstrap.css">
    <link rel="stylesheet" href="~/TravelFront/vendorss/css/slick-theme.css">
    <link rel="stylesheet" href="~/TravelFront/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/TravelFront/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Header - Start -->
    <header id="Header">
        <div class="container p-0">
            <div class="header-all row justify-content-between">
                <div class="col-md-2 headerLogo">
                    <a href="index.html"><img class="img-fluid" src="~/TravelFront/image/logo.png" alt=""></a>
                </div>
                <div class="col-md-8 row" style="padding: 20px 0;">
                    <div class="col-md-4 text-right">
                        <img style="padding-bottom: 3px;" src="~/TravelFront/image/clock.png" alt="" srcset=""><span style="padding-left: 10px; font-size: 14px; font-weight: 500;">10:00 — 18:00</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <img style="padding-bottom: 3px;" src="~/TravelFront/image/phone.png" alt="" srcset=""> <span style="padding-left: 10px; font-size: 14px; font-weight: 500;">+994 12 505-50-10</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="dropdown">
                            <a href="" style="font-size: 14px; font-weight: 500; text-decoration: none;" class="dropbtn">Choose the language</a>
                            <div class="dropdown-content">
                                <a href="#">
                                    <img style="width: 12%;" src="https://image.flaticon.com/icons/svg/555/555554.svg"
                                         alt=""><span style="padding-left: 7px;font-size: 14px;font-weight: bold;">AZ</span>
                                </a>
                                <a href="#">
                                    <img style="width: 12%;" src="https://image.flaticon.com/icons/svg/555/555527.svg"
                                         alt=""><span style="padding-left: 7px;font-size: 14px;font-weight: bold;">ENG</span>
                                </a>
                                <a href="#">
                                    <img style="width: 12%;" src="https://image.flaticon.com/icons/svg/555/555451.svg"
                                         alt=""><span style="padding-left: 7px;font-size: 14px;font-weight: bold;">RUS</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header - End -->
    <!-- Header2 - Start -->

    <section id="Header2">
        <div class="container p-0">
            <div class="header2-all row">
                <div class="drops-all col-md-10">
                    <div class="dropdown">
                        <a href="about.html"><button class="dropbtn">About Us</button></a>
                        <div class="dropdown-content">
                            <a href="services.html">Service overview</a>
                            <a href="contact.html">Contact us</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="visit.html"><button class="dropbtn">Visit Azerbaijan</button></a>
                        <div class="dropdown-content">
                            <a href="incoming.html">Incoming Department</a>
                            <a href="hotels.html">Hotels</a>
                            <a href="transfer.html">Transportation Service</a>
                            <a href="VIP.html">Khazar Travel VIP</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="collage.html"><button class="dropbtn">Travel Around</button></a>
                        <div class="dropdown-content">
                            <a href="collage.html">Tours</a>
                            <a href="outgoing.html">Outgoing Department</a>
                            <a href="#">Leisure Travel</a>
                            <a href="business.html">Business Travel</a>
                            <a href="VIP.html">Khazar Travel VIP</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="ticketing.html"><button class="dropbtn">Fly with us</button></a>
                        <div class="dropdown-content">
                            <a href="ticketing.html">Ticketing</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="residence.html"><button class="dropbtn">Visa Support</button></a>
                        <div class="dropdown-content">
                            <a href="residence.html">Work & Residence Permit in Azerbaijan</a>
                            <a href="visaOther.html">Visa for other countries</a>
                        </div>
                    </div>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/KhazarTravel/videos/384842092400812/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/khazartravelazerbaijan/"><i class="fab fa-instagram"></i></a>
                    <a href="info@khazar-travel.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Header2 - End -->

    @RenderBody();

    <!-- Footer - Start -->

    <footer id="Footer">
        <div class="container">
            <div class="footer-all row">
                <div data-aos="fade-up" class="col-md-5 footer-left" style="line-height: 40px;">
                    <h6 style="padding-bottom: 20px;">CONTACT US</h6>
                    <i class="fa fa-phone">
                        <a href="contact.html">
                            <span style="font-weight: 100;font-family: 'Montserrat', sans-serif !important;">
                                +994 12 505-50-10 / +994 12
                                449-40-00
                            </span>
                        </a>
                    </i>
                    <br>
                    <i class="fas fa-envelope">
                        <a style="font-weight: 100;font-family: 'Montserrat', sans-serif !important;"
                           href="#">info@khazar-travel.com</a>
                    </i>
                    <br>
                    <i class="fas fa-location-arrow">
                        <span style="font-weight: 100;font-family: 'Montserrat', sans-serif !important;">
                            <a href="contact.html">Ismayilbey Kutkashenli str.99c Baku, Azerbaijan</a>
                        </span>
                    </i>
                </div>
                <div data-aos="fade-up" class="col-md-4 text-left">
                    <h6 style="padding-bottom: 20px;">QUICK LINKS</h6>
                    <div class="links row">
                        <div class="col-md-6" style="line-height: 30px;">
                            <a href="about.html">About Us</a>
                            <br>
                            <a href="visit.html">About Tours</a>
                            <br>
                            <a href="about.html">Our Team</a>
                        </div>
                        <div class="col-md-6" style="line-height: 30px;">
                            <a href="collage.html">Gallery</a>
                            <br>
                            <a href="">Blog</a>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-3 footerBtn text-center p-0" style="margin-top: 5vh;">
                    <a href="contact.html" class="hoverBtn">Get in Touch</a>
                </div>
            </div>

        </div>
    </footer>

    <!-- Footer - End -->



    <section id="Footer2">
        <div class="container">
            <div class="footer2 row justify-content-between">
                <div class="col-md-4">
                    <p>© 2019 ComparTeam. All Rights Reserved. </p>
                </div>
                <div class="col-md-3">
                    <div class="social">
                        <a href="https://www.facebook.com/KhazarTravel/videos/384842092400812/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/khazartravelazerbaijan/"><i class="fab fa-instagram"></i></a>
                        <a href="info@khazar-travel.com"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </section>



    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>


    <script src="~/TravelFront/vendor/js/jquery-3.4.1.js"></script>
    <script src="~/TravelFront/vendorss/js/slick.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/TravelFront/vendor/js/popper.min.js"></script>
    <script src="~/TravelFront/vendor/js/bootstrap.min.js"></script>
    <script src="~/TravelFront/js/app.js"></script>
    <script src="~/TravelFront/js/Media.js"></script>
    <script src="~/TravelFront/js/sliderIndex.js"></script>
    <script src="~/TravelFront/js/Media2.js"></script>
    <script src="~/TravelFront/js/ToTop.js"></script>
</body>


</html>

